
html{
    height:100vh;
}

h1 {
    margin: 0 0 20px;
    font-weight: normal;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    border: 1px solid grey;
}


/* Estilos del formulario */

form {
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    width: 400px;
    padding: 20px;
    background-color: white;
    margin: 250px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="text"],
input[type="password"],
input[type="email"] {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 20px;
    border-bottom: 1px solid rgba(17, 39, 42, 1);
    border-right: none;
    border-top: none;
    border-left: none;
    border-radius: 3px;
    font-size: 14px;
}

input[type="submit"] {
    width: 100%;
    padding: 15px;
    font-size: 20px;
    font-weight: bold;
    --c: #2ba9ac;
    border: none;
    border-radius: 5px;

    box-shadow: 0 0 0 .1em inset var(--c);
    --_g: linear-gradient(var(--c) 0 0) no-repeat;
    background:
        var(--_g) calc(var(--_p, 0%) - 100%) 0%,
        var(--_g) calc(200% - var(--_p, 0%)) 0%,
        var(--_g) calc(var(--_p, 0%) - 100%) 100%,
        var(--_g) calc(200% - var(--_p, 0%)) 100%;
    background-size: 50.5% calc(var(--_p, 0%)/2 + .5%);
    outline-offset: .1em;
    transition: background-size .4s, background-position 0s .6s;
}

input[type="submit"]:hover {
    --_p: 100%;
    transition: background-position .5s, background-size 0s;
    color: white;
}


input[type="submit"]:active {
    box-shadow: 0 0 9e9q inset #0009;
    background-color: var(--c);
    color: #fff;
    font-weight: bold;

}

